/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: serif;
}

strong, b {
  font-size: 110%;
  font-family: serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */

h1 {
  font-family: serif;
}

body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}
