/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

  body {
          margin: 0;
    font-family: Arial, Helvetica, sans-serif
    
          background-color: red; /* For browsers that do not support gradients */
          background-image: linear-gradient(gold, red ); /* Standard syntax (must be last) */
  }

  h1 
    {
      color: DarkSlateGrey;
    }
    
  h2
    {
    color: DarkSlateGrey;
    }
    
    /* Style the header */
header {
  background-color: yellow;
  padding: 0px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}
